header
	background-color: $color1
	min-height: 75vh
	display: flex
	flex-direction: column 
	justify-content: center
	align-items: center

	div
		text-align: center
	
		h3
			line-height: 30%
			color: $color4

		p 
			line-height: 30%
			color: $color4

section
	background-color: $color4
	min-height: 25vh

footer
	background-color: $color5
	min-height: 25vh
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center

	div
		color: blue