$color1: rgba(52, 74, 96, 1);
$color2: rgba(43, 147, 215, 1);
$color3: rgba(240, 241, 244, 1);
$color4: rgba(255, 254, 255, 1);
$color5: rgba(244, 190, 63, 1);

$font-size: 16px

*
	padding: 0
	margin: 0

body html
	overflow: hidden
	font-size: 1em

::-webkit-scrollbar
	display: none

h1
	font-size: 2.2em

h2
	font-size: 2em

h3
	font-size: 1.8em

h4
	font-size: 1.6em

h5
	font-size: 1.4em

h6
	font-size: 1.2em

p
	font-size: 1em